<html>
<head>
	<title>Sniper</title>
  <link rel=stylesheet href='../staticfiles/css/theme.css' type='text/css' />
</head>
<body>
  <div id='container'>
    <div id='logo_div'>
      <img src='../staticfiles/images/logo.png' alt='Sniper logo' />
    </div>
    <div id='teaser'>
      <p>There is a saboteur among us. Your mission is to take her out.</p>
    </div>
    <div>
      <div id='iphone_div'>
        <img src='../staticfiles/images/iphone.png' alt='iPhone' />
      </div>
      <div id="content">
        <h2>Accept your mission</h2>
        <p>You have one target. Your target doesn't know who is hunting him, but you also don't know which of your friends is after you. Once your target is eliminated, you will be given a new target. Only one agent will survive.</p>
        <h2>Eliminate the target</h2>
        <p>Your agency must confirm your kills. Facial recognition software on your iPhone or Android sniper rifle will determine whether you successfully took out the enemy or accidentally hit an innocent civilian.</p>
        <h2>Watch your back</h2>
        <p>Any of your friends could be the agent trying to take you out. You must be vigilant if you want to survive. If they can't get a clear photo of your face, their assassination attempts won't count. If a double agent approaches, turn and run or take them out first.</p>
      </div>
    </div>
  </div>
  <!--span id='footer'>
    <ul>
      <li><a href='about/'>About us</a></li>
      <li><a href='contact/'>Contact</a></li>
      <li><a href='signup/'>Sign up</a></li>
    </ul>
  </span-->
</body>
<html>
