<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sniper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <permission
        android:name="com.sniper.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="com.sniper.permission.MAPS_RECEIVE" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:name="com.sniper.ApplicationSniper"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCq56cmuKXXgc2EOaTcERsjCwV2YPt_uHU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="com.sniper.ActivityMain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.sniper.ActivityGamesHome"
            android:label="@string/title_activity_games_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityArmoryHome"
            android:label="@string/title_activity_armory_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityLogin"
            android:label="@string/title_activity_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sniper.ActivityLeadersHome"
            android:label="@string/title_activity_activity_leaders_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivitySettingsHome"
            android:label="@string/title_activity_activity_settings_home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sniper.core.PushReceiver" >
            <intent-filter>
                <action android:name="com.sniper.UPDATE" />
                <action android:name="com.sniper.POTENTIAL_KILL" />
                <action android:name="com.sniper.CONFIRMED_KILL" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sniper.ActivityNewGame"
            android:label="@string/title_activity_activity_new_game"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.sniper.ui.phone.SelectDateActivity"
            android:label="Date Selection"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SelectDate" />
        <activity
            android:name="com.sniper.ActivityLandMines"
            android:label="@string/title_activity_activity_land_mines"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityKillConfirm"
            android:label="@string/title_activity_activity_kill_confirm" >
        </activity>
        <activity
            android:name="com.sniper.ActivityUserDetail"
            android:label="@string/title_activity_activity_user_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityModeratorGameView"
            android:label="@string/title_activity_activity_moderator_game_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityGeneralYourGameView"
            android:label="@string/title_activity_activity_general_your_game_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityGeneralGameView"
            android:label="@string/title_activity_activity_general_game_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityJoinGame"
            android:label="@string/title_activity_activity_join_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityGameDetailJoin"
            android:label="@string/title_activity_activity_game_detail_join"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityNewUser"
            android:label="@string/title_activity_activity_new_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.ActivityTargets"
            android:label="@string/title_activity_activity_targets"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sniper.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
    </application>

</manifest>