@font-face {
    font-family: 'boycott';
    src: url('fonts/boycott_.eot');
    src: url('fonts/boycott_.eot?#iefix') format('embedded-opentype'),
         url('fonts/boycott_.woff') format('woff'),
         url('fonts/boycott_.ttf') format('truetype'),
         url('fonts/boycott_.svg#boycottregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}

body {
  background-color: #333333;
  color: #E6E6E6;
  height: 100%;
}

p, a {
  width: 90%;
  color: #E6E6E6;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2em;
  font-family: monospace;
  font-size: 11pt;
}

html body #footer {
  margin-left: auto;
  margin-right: auto;
  height: 4em;
}

#footer li {
  list-style: none;
  padding: 0;
  float: left;
  display: block;
  width: 7em;
}

h1 {
  font-family: 'boycott';
  font-size: 72px;
}

h2 {
  font-family: 'boycott', serif;
  text-transform: uppercase;
  font-size: 32px;
}

* {
  /*
  border: solid;
  */
  border-color: red;
  border-width: 1px;
  margin: 0px;
  padding: 0px;
}

#logo_div {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#teaser p {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: monospace;
  font-size: 15pt;
}

#content {
  float: left;
  width: 55%;
}

#iphone_div {
  float: left;
  width: 25%;
  padding-right: 10%;
  padding-left: 5%;
}

#container {
  width: 851px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
